* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    --cor-primaria: #fad8ab; 
    --cor-secundaria: #ffeee0;
    --cor-secundaria-transp: rgb(255, 238, 224, 0);
    --cor-terciaria: #ffc181;
    --cor-quartenaria: #e18437;
    --cor-quintenaria: #ffc181;
}

body {
  background-color: var(--cor-primaria);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

i {
  margin: 10px;
}

hr {
  background-color: var(--cor-primaria);
  padding: 1px;
  border-radius: 10px;
  border: solid 1px var(--cor-primaria);
}

div {
  background-color: var(--cor-secundaria);
  text-align: center;
  padding: 5px;
}

input {
  padding: 5px;
  border-radius: 10px;
  border: var(--cor-secundaria);
  padding: 10px;
}

button {
  padding: 5px;
  border-radius: 10px;
  border: solid var(--cor-secundaria);
  background-color: var(--cor-terciaria);
  padding: 10px;
}

button:hover {
  background-color: var(--cor-quartenaria);
  transform: scale(1.03);
}

img {
  width: 150px;
  height: 200px;
}


.imgback {
  background-image: url('https://images.unsplash.com/photo-1508107536691-b1449928187d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmlibGlvdGVjYSUyMGFudGlnYXxlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imgback2 {
  background-image: url('https://images.pexels.com/photos/877971/pexels-photo-877971.jpeg?cs=srgb&dl=pexels-juanpphotoandvideo-877971.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.visible {
  position: relative;
  overflow: hidden; 
  opacity: 1;
}
.transparent {
  position: relative;
  overflow: hidden; 
  background-color: rgb(255, 255, 255, 0);
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--cor-primaria);
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-container > a {
  background-color: var(--cor-terciaria);
  margin: 10px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
}

.flex-container > img {
  margin: 10px;
  width: 50px;
  border-radius: 5px;
}

.flex-container > .nav-links > li {
  background-color: var(--cor-terciaria);
  width: 100px;
  margin: 1px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.rounded-mid {
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 900px;
  border-radius: 10px;
}

.mid-content {
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.mid-content > div {
  margin: 0 auto;
  position: relative;
  background-color: var(--cor-secundaria-transp);
  padding: 2em;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  align-content: center;
  z-index: 2;
}

.card{
  margin: 0 auto;
  width: 400;
  height: 500px;
  background: var(--cor-secundaria-transp);
  text-align: center;
  border-radius: 10px;
  position: relative;  
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 70%, #ffc181, #e18437, #d86126, #c04b10);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 5s spin linear infinite;
}
.card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.mid-content > div > div > div, .mid-content > div > div{
  background-color: var(--cor-primaria);
}

.logo {
  height: auto;
}

.flex-container > .nav-links > li:hover {
  background-color: var(--cor-quartenaria);
  transform: scale(1.03);
}

.nav-links {
  list-style: none;
  display: flex;
}

.livros {
  list-style: none;
  display: flex;
}

.livro {
  margin: 10px;
}

.rodape {
  color: rgb(107, 107, 107);
  background-color: var(--cor-quintenaria);
  text-align: center;
  padding: 10px 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#login {
  height: 350px;
}

#center {
  justify-content: center;
}

#space-bet {
  justify-content: space-between;
}

#allBorder {
  border-radius: 10px;
  flex-grow: 1;
}

#rightBorder {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#leftBorder {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#topBorder {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#bottomBorder {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#topText {
  margin-bottom: 50px;
  margin-top: 20px;
}

#bottomText {
  margin-top: 20px;
}

#linkedin-link {
  display: inline-block;
  margin-top: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

#linkedin-link:hover {
  color: #0a66c2;
}

#linkedin-link i {
  margin-right: 8px;
}
