* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edede9;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

i {
  margin: 10px;
}

hr {
  background-color: #d5bdaf;
  padding: 1px;
  border-radius: 10px;
  border: solid 1px #d5bdaf;
}

div {
  background-color: #e3d5ca;
  text-align: center;
  padding: 5px;
}

input {
  padding: 5px;
  border-radius: 10px;
  border: #e3d5ca;
  padding: 10px;
}

button {
  padding: 5px;
  border-radius: 10px;
  border: solid #e3d5ca;
  background-color: #f5ebe0;
  padding: 10px;
}

button:hover {
  background-color: #d6ccc2;
  transform: scale(1.03);
}

img {
  width: 150px;
  height: 200px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #d5bdaf;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-container > a {
  background-color: #f5ebe0;
  margin: 10px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
}

.flex-container > img {
  margin: 10px;
  width: 50px;
  border-radius: 5px;
}

.flex-container > .nav-links > li {
  background-color: #f5ebe0;
  width: 100px;
  margin: 1px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.mid-content {
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.mid-content > div {
  margin: 0 auto;
  position: relative;
  background-color: #e3d5ca;
  padding: 2em;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  align-content: center;
  z-index: 2;
}

.card{
  margin: 0 auto;
  width: 400;
  height: 500px;
  background: #e3d5ca;
  text-align: center;
  border-radius: 10px;
  position: relative;  
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 70%, #fdf0d5, #d62828, #c1121f, #780000);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 5s spin linear infinite;
}
.card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.mid-content > div > div > div, .mid-content > div > div{
  background-color: #d5bdaf;
}

.logo {
  height: auto;
}

.flex-container > .nav-links > li:hover {
  background-color: #d6ccc2;
  transform: scale(1.03);
}

.nav-links {
  list-style: none;
  display: flex;
}

.livros {
  list-style: none;
  display: flex;
}

.livro {
  margin: 10px;
}

.rodape {
  color: rgb(107, 107, 107);
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#center {
  justify-content: center;
}

#space-bet {
  justify-content: space-between;
}

#allBorder {
  border-radius: 10px;
  flex-grow: 1;
}

#rightBorder {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#leftBorder {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#topBorder {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#bottomBorder {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#topText {
  margin-bottom: 50px;
}

#bottomText {
  margin-top: 50px;
}

#linkedin-link {
  display: inline-block;
  margin-top: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

#linkedin-link:hover {
  color: #0a66c2;
}

#linkedin-link i {
  margin-right: 8px;
}
