#toggle {
  display: none;
}

.ball {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}

#toggle:checked + label .ball {
  animation: run 10s infinite;
}

@keyframes run {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
    border-radius: 25%;
  }
  12% {
    border-radius: 50%;
  }
  25% {
    background-color: yellow;
    left: 500px;
    top: 0px;
    border-radius: 25%;
  }
  37% {
    border-radius: 50%;
  }
  50% {
    background-color: blue;
    left: 500px;
    top: 500px;
    border-radius: 25%;
  }
  62% {
    border-radius: 50%;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 500px;
    border-radius: 25%;
  }
  87% {
    border-radius: 50%;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
    border-radius: 25%;
  }
}
